---
interface Props {
  size?: 'sm' | 'md';
  class?: string;
}

const { size = 'sm', class: className } = Astro.props;
---

<span
  class:list={['friend-pinocchio', `friend-pinocchio--${size}`, className]}
  aria-hidden="true"
>
  <img
    src="/images/plamo/friend-pinocchio-48.png"
    alt=""
    decoding="async"
  />
</span>

<style>
  .friend-pinocchio {
    display: inline-flex;
    line-height: 0;
    flex-shrink: 0;
    vertical-align: middle;
    filter: drop-shadow(0 1px 1px rgba(80, 48, 20, 0.2));
  }

  .friend-pinocchio img {
    display: block;
    max-width: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  .friend-pinocchio--sm img {
    width: 24px;
    height: 24px;
  }

  .friend-pinocchio--md img {
    width: 30px;
    height: 30px;
  }
</style>
